.products-card-image {
  object-fit: contain!important;
}

.products-filter {
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    margin-right: 20px;
  }
}

.second-tab {
  justify-content: space-between;

  .second-tab-filter {
    margin-bottom: 2rem;
  }

  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding: 1rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    border: 1px solid #ebe9e9;
    border-radius: 1rem;
    background-color: #ebe9e9;
    box-shadow: 0px 0px 27px 11px rgba(135, 135, 135, 0.2);
  
    span {
      margin-top: 1rem;
    }

    .product-item-buttons {
      display: flex;
    }
  }

  .product-item-alert {
    width: 100%;
  }
}